<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QR Code Generator</title>
  </head>
  <body>
    <header>
      <div class="title">
        <h1>QR CODE GENERATOR: Muehehe</h1>
      </div>
    </header>

    <!-- QR Code for link -->
    <section>
      <form action="{{ url_for('qr.barcode') }}" method="POST">
        <input type="url" name="link" placeholder="Masukkan URL" required />
        <button type="submit">Generate</button>
      </form>
    </section>

    <!-- QR Code for WhatsApp -->
    <section>
      <form action="{{ url_for('qr.barcode') }}" method="POST">
        <select name="CodeCountry" id="CountrySelect">
          <option value="">-</option>
          {% for code in countries %}
          <option value="{{ code.dial_code }}">
            {{ code.name }} ({{ code.dial_code }})
          </option>
          {% endfor %}
        </select>
        <input
          type="number"
          name="WANumber"
          placeholder="Masukkan nomor WA"
          required
        />
        <input type="text" name="WAText" placeholder="Masukkan Text" required />
        <button type="submit">Generate</button>
      </form>
      <div class="generated">
        {% if data %}
        <h2>Your Generated QR Code:</h2>
        <img
          src="{{ url_for('qr.uploaded_file', filename=data) }}"
          alt="QR Code"
        />
        {% endif %}
      </div>
    </section>
  </body>
</html>
