<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QR Code Generator</title>
    <link
      rel="stylesheet"
      href="{{ url_for('qr.static', filename='css/qr.css') }}"
    />
    <script
      src="{{ url_for('qr.static', filename='js/qr.js') }}"
      defer
    ></script>
  </head>
  <body>
    <header>
      <div class="title">
        <h1>QR CODE GENERATOR: Muehehe</h1>
      </div>
    </header>

    <div>
      <button class="qr-button" data-target="link-section">QR for Link</button>
      <button class="qr-button" data-target="whatsapp-section">
        QR for WhatsApp
      </button>
      <button class="qr-button" data-target="gmail-section">
        QR for Gmail
      </button>
    </div>

    <!-- QR Code for link -->
    <section id="link-section" class="qr-section">
      <form action="{{ url_for('qr.barcode') }}" method="POST">
        <input
          type="url"
          name="link"
          id="link"
          placeholder="Masukkan URL"
          required
        />
        <button type="submit">Generate</button>
      </form>
    </section>

    <!-- QR Code for WhatsApp -->
    <section id="whatsapp-section" class="qr-section hidden">
      <form action="{{ url_for('qr.barcode') }}" method="POST">
        <select name="CodeCountry" id="CountrySelect">
          <option value="">-</option>
          {% for code in countries %}
          <option value="{{ code.dial_code }}">
            {{ code.name }} ({{ code.dial_code }})
          </option>
          {% endfor %}
        </select>
        <input
          type="tel"
          name="WANumber"
          id="WANumber"
          placeholder="Masukkan nomor WA"
          required
        />
        <input
          type="text"
          name="WAText"
          id="WAText"
          placeholder="Masukkan Text"
          required
        />
        <button type="submit">Generate</button>
      </form>
    </section>

    <!-- QR Code for Gmail -->
    <section id="gmail-section" class="qr-section hidden">
      <form action="{{ url_for('qr.barcode') }}" method="POST">
        <input
          type="email"
          id="GmailAddress"
          name="GmailAddress"
          placeholder="Masukkan Email Address"
          required
        />
        <input type="text id="GmailSubject" name="GmailSubject"
        placeholder="Masukkan Subject" required />
        <textarea
          id="GmailText"
          name="GmailText"
          placeholder="Masukkan Text"
          required
        ></textarea>
        <button type="submit">Generate</button>
      </form>
    </section>

    <!-- QR Generate -->
    <section>
      <div class="generated">
        {% if data %}
        <h2>Your Generated QR Code:</h2>
        <img
          src="{{ url_for('qr.uploaded_file', filename=data) }}"
          alt="QR Code"
        />
        {% endif %}
      </div>
    </section>
  </body>
</html>
