body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

.title h1 {
  color: #333;
}

.MainButton {
  display: flex;
  justify-content: center;
}

section {
  margin: 20px 0;
  padding: 20px;
  background: #09090b; /*background*/
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button {
  padding: 10px 15px;
  background-color: #09090b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hidden {
  display: none;
}
