* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", Helvetica, sans-serif;
  display: flex;
  margin: 80%;
}

header h1 {
  font-family: "Inter", Helvetica, sans-serif;
  margin-top: 3rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

.MainButton {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  max-width: 93%;
  display: flex;
}

/*background*/
section {
  margin: 20px 0;
  padding: 20px;
  background: #09090b;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card {
  margin: -5rem 1rem;
}

button {
  background-color: #09090b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.qr-container {
  display: flex; /* Menggunakan flexbox */
  flex-direction: column; /* Mengatur orientasi kolom */
  align-items: center; /* Mengatur konten secara horizontal di tengah */
  gap: 20px; /* Jarak antara elemen */
}

.generated {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  position: relative; /* Tetap */
}

.generated img {
  margin-top: -4.9rem;
  width: 18.5rem; /* Ukuran tetap untuk elemen generated */
  height: 18.5rem; /* Ukuran tetap untuk elemen generated */
}

.qr-code {
  width: 296px;
  height: 296px;
  background-color: #ddd;
  z-index: 1;
  position: relative;
  margin-top: -19.76rem;
}

.QR {
  display: flex;
  justify-content: center;
}

.link {
  width: 50rem;
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc; /* Menambahkan border */
  border-radius: 5px; /* Menambahkan sudut melengkung */
  font-size: 16px; /* Mengatur ukuran font */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Menambahkan bayangan */
  margin-bottom: 10px; /* Menambahkan margin bawah untuk jarak dengan tombol */
  display: flex;
  margin-top: 1rem;
}

.buttonLink {
  margin-top: 1rem;
  width: 10rem;
  height: 40px;
  padding: 10px;
  border: 1px solid #be3838; /* Menambahkan border */
}

.formLink {
  display: flex;
}
