* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", Helvetica, sans-serif;
}

header h1 {
  font-family: "Inter", Helvetica, sans-serif;
  margin-top: 3rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

.MainButton {
  display: flex;
  justify-content: center;
  margin-top: -8rem;
}

section {
  margin: 20px 0;
  padding: 20px;
  background: #09090b; /*background*/
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button {
  padding: 10px 15px;
  background-color: #09090b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hidden {
  display: none;
}
